<footer>
       <a href="{{ site.url }}" title ="ไปเที่ยวฟรานส์ " class ="center">
        <span class ="logo  footer-logo-kiki"></span>
         <h1 id ="ไปเที่ยวฟรานส์ ">Pai Tiew <span>France</span></h1>
       </a>
    <div class="container">
        <div class="column">
            <h2>เกี่ยวกับไปเที่ยวฟรานซ์</h2>
            <p>
                <strong>ไปเที่ยวฟรานซ์</strong> เกิดจากความตั้งใจของแนวร่วมในทีมที่ต้องการพาทุกท่านสัมผัสถึงความเป็นฝรั่งเศส กิน และ เที่ยวแบบฝรั่งเศส ได้ถ่ายรูปและสัมผัสบรรยากาศอย่างเต็มอิ่มแบบที่ไม่ต้องรีบวิ่งไปขึ้นรถ หรือ แว่บไปซื้อขนมก็... <a href="{{site.url}}/about" title=' อ่านต่อ'> อ่านต่อ</a>
            </p>
            <p class="ptb">&copy; 2015 <strong><a href="{{site.url}}" title ="{{site.title}}">ไปเที่ยวฟรานซ์</a></strong> </p>
        </div>
        <div class="column">
            <h2>Let's go social</h2>
            <p>
                ร่วมเป็นส่วนหนึ่งของเรา <strong>ไปเที่ยวฟรานซ์ </strong>ท่านสามารถติดตามเราได้ทางเฟสบุ๊ก หรือ ทวิตเตอร์
            </p>
            <ul class="social right">
                <li><a href="https://www.facebook.com/paitiewfrance" class=" fb" title='Facebook page' target="blank"><i class ="fa fa-facebook fa-2x "></i><span>ไปเที่ยวฟรานซ์  <br> Facebook </span></a></li>
                <li><a href="#" class="gplus " title="Google Plus" target+ "blank"><i class ="fa fa-google-plus fa-2x"></i><span>ไปเที่ยวฟรานซ์  <br>  Google Plus</span></a></li>
                <li><a href="https://twitter.com/paitiewfrance" class="twit " title="Twitter" target+ "blank"><i class ="fa fa-twitter fa-2x"></i> <span>ไปเที่ยวฟรานซ์  <br>  Twitter</span> </a></li>
            </ul>
        </div>

        <div class="column">
          <p>
            น.ส. สุดธิดา กนกสินสมบัติ <br>
            ชื่อประกอบพาณิชยกิจ: ไปเที่ยวฟรานส์ <br>
            ที่อยู่: 836 ซอยเพชรเกษม94 บางแคเหนือ บางแค กทม. 10160 <br>
            เว็บไซต์: <a href="http://www.paitiewfrance.com" title="paitiewfrance">www.paitiewfrance.com</a> <br>
            เบอร์ติดต่อ: 081 825 7310
          </p>
        </div>


        <div class="column">
          <script src="https://www.trustmarkthai.com/callbackData/initialize.js?t=7fce4-24-5-93d4ee8043d891aa4842420721ca082cbf359590" id="dbd-init"></script>
          <div id="Certificate-banners"></div>
        </div>
    </div>
</footer>
