<footer>
    <div class="container">
        <div class="column">
            <h2>About paitiewfrance</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est omnis aut, placeat qui rem culpa doloremque non sunt corrupti numquam optio, id amet, molestiae eos distinctio! Harum esse officia, quibusdam voluptate animi dolor.
            </p>
            <p class ="ptb">&copy; 2015 <strong><a href="{{site.url}}" title ="{{site.title}}">ไปเที่ยวฟรานซ์</a></strong> </p>
        </div>
        <div class="column right">
            <h2>Let's go social</h2>
            <p>
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque quisquam ad.
            </p>
            <ul class="social">
                <li><a href="https://www.facebook.com/paitiewfrance" class=" fb" title='Facebook page' target="blank"><i class ="fa fa-facebook fa-2x "></i><span>Facebook</span></a></li>
                <li><a href="#" class="gplus " title="Google Plus" target+ "blank"><i class ="fa fa-google-plus fa-2x"></i><span>Google Plus</span></a></li>
                <li><a href="https://twitter.com/paitiewfrance" class="twit " title="Twitter" target+ "blank"><i class ="fa fa-twitter fa-2x"></i><span>Google Plus</span></a></li>
            </ul>
        </div>
        <!-- <p>Logo icon created by <cite>Arthur Shlain</cite> from the <a href="https://thenounproject.com">thenounproject</a></p> -->
        
        
    </div>
</footer>
