<head>
    <!-- Meta -->
    <title>{{ page.title}} - ไปเที่ยวฟรานซ์ </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="th, en">
    <meta name="google-site-verification" content="l1Mfj6ETNWOqrgIZwTLgPsebFjS3pueV31--mqb_MBM">
    <meta name="revisit-after" content="1 days">
    <meta name="robots" content="all, index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-touch-fullscreen" content="yes" />

    <!-- Facebook opengraph stuff  -->
    <meta property="fb:page_id" content="822564541126863">
    <meta property="og:site" content="{{ site.url }}" />
    <meta property="og:description" content="{{page.meta}}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="{{page.ogType}}" />
    <meta property="og:site_name" content="paiTiewFrance" />
    <meta property="og:url" content=" {{ site.url}}{{ page.url }}" />
    <meta property="og:image" content="{{site.ogImage}}" /> {% if page.meta %}
    <meta name="description" content="{{ page.meta }}"> {% else %}
    <meta name="description" content="{{ site.meta }}"> {% endif %}
   
   <!-- -Twitter stuff -->
   <meta property="twitter:account_id" content="3224023189">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:site" content="@paitiewfrance">
   <meta name="twitter:title" content="{{page.title}}">
   <meta name="twitter:description" content="{{page.meta}}">
   <meta name="twitter:image:src" content="https://paitiewfrance.com/img/twitter_card_large.svg">

    <!-- CSS & fonts -->
    <link rel="canonical" href="{{site.url}}" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/print.css" media="print">
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
