<nav id="nav">
	<ul id="nav-list">
	{% for link in site.navigation %}
	    {% if  link.sub-menu != null %}
                        <li class ="has-submenu">
                         <a href="#"  class ="[ primary-link {% if link.title contains page.class %} current  {% endif %} ] "  title ="{{link.title | capitalize }}">{{ link.label | capitalize }}</a>
                         <div class="submenu-container">
                         	 <ul>
                                  {% for  sub in link.sub-menu %}
                                       <li>
                                         <a href="{{site.url}}{{sub.url}}"  title="{{ sub.title | capitalize }}"><span class ="tour-dn">Tour</span> {{ sub.label | capitalize }}</a>
                                       </li>
                                  {% endfor %}
                              </ul>
                         </div>
                         </li>
	    {% else  %}
	         <li>
	            <a href="{{site.url}}{{ link.url }}" class ="primary-link" title ="{{link.title | capitalize }}">{{link.label | capitalize }}</a>
	         </li>
	      {% endif %}
	{% endfor %}
	</ul>
	<a href="https://www.facebook.com/paitiewfrance" title ="Join us of facebook" target ="_blank"><span class ="fa fa-facebook"></span></a>
</nav>
