

{% for days in site.data.[tour-content] %}
<div class="day-container span-9">
    {% for d in days.day %}
    <div class="day-{{ d.title }} day">
        <h3 class="{{d.title }}">วันที่ {{ forloop.index }}: {{ d.title }} </h3> 
        {% for p in d.description %}
             <p>{{ p.paragraph }}</p>
        {% endfor %}
        {% if d.img %}
              <img src="/img/{{ d.img}}.jpg" alt="{{ d.alt}}" title="{{d.alt}}" class="middle postcard">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}
