/*- General Layout -*/
/* Logo */

/*===================================================================TOUR PREVIEW===============================================================================*/

.tour-preview {
    width: 100%;
    display: block;
    background:red;
    height: 250px;
}

.logo {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    background: white url(../img/logo.svg) no-repeat -3px center;
    background-size: 120% auto;
    width: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    &.footer-logo-kiki {
          background:darken($footer, 4) url(../img/logo-footer.svg) no-repeat  -5px center;;
          margin: 1.75em auto 0 auto;
          background-size: 120% auto;
          width: 4.5em;
          height: 4.5em;
    }
}
/* Navigation */

$nav: #ADAAA7;
$nav-link: white;
nav {
    width: 14rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -14rem;
    color: $background-color;
    transition: all 0.3s ease-in;
    background: lighten(black, 92);
    background: $nav;
    z-index: 1;
    padding: 82px 0;
    text-align: center;
    ul li {
        font-family: $sans;
        width: 100%;
        margin-bottom: 0;
    }
    a {
        display: block;
        color: $nav-link;
        border-bottom: 1px solid lighten($nav, 4);
        text-transform: capitalize;
        padding: .25em 0;
        font-size: 1.15em !important;
        font-family: $serif;
        line-height: 3em;
        @media (min-width: 940px) {
            font-size: 1em !important;
            line-height: 3.25em;
        }
        strong {
            font-weight: normal;
            color: $nav-link;
        }
        &:hover {
            color: $nav-link;
            background: darken($nav, 25);
        }
        &:focus,
        &:visited {
            color: $nav-link;
        }
    }
}

nav.menu-open {
    overflow-y: scroll;
    transform: translateX(-14rem);
    min-height: 100%;
    -webkit-transform: translateX(-14rem);
    width: 100%;
    @media (min-width: 940px) {
        overflow-y: hidden;
        width: 26em;
    }
}

#nav-menu {
    display: block;
    position: absolute;
    top: 48px;
    right: 25px;
    z-index: 10;
    height: 24px;
}
/* Icon menu */

#menu {
    height: 4px;
    width: 1.5em;
    background: white;
    position: relative;
    margin-top: 8px;
    span {
        top: -.5em;
        font-size: .75em;
        transition: all 0.3s ease-in;
        color: white;
        font-family: $serif-bis;
        text-transform: capitalize;
        left: -3.75em;
        position: absolute;
    }
    &:after,
    &:before {
        content: "";
        display: block;
        position: relative;
        height: 4px;
        width: 1.5em;
        background: white;
        transition: all 0.3s ease-in;
    }
    &:before {
        top: -8px;
    }
    &:after {
        top: 4px;
    }
    &.btn-close {
        background: none;
    }
    &.btn-close:before {
        top: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.btn-close:after {
        top: -4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
/* Main content */

.fixed {
    position: fixed;
    @media (min-width: 940px) {
        position: static;
    }
}

.container {
    margin: 2em auto 0;
    max-width: 960px;
    padding: 2.5rem 1.5rem;
    @media (min-width: 940px) {
        padding: 2.5rem 3.5rem;
    }
}
/*======================================================= SPECIAL HEADER =============================================================*/

#header h1,
footer h1 {
        font-size: 2em;
        position: relative;
        text-transform: capitalize;
        font-family: $serif-bis;
        padding: .25em 0 !important;
}

/*=======================================================HEADER=====================================================================*/

$header-bg:#197E9A;
$header-bg:#95CCE0;
$header-bg:#383838;
#header {
    background: $header-bg;
    height: auto;
    padding: 14px 0;
    text-align: center;
    position: relative;
    a {
        text-decoration: none;
        color: $text-color;
        display: inline-block;
    }
    img {
        max-height: 72px;
        margin: 0 auto;
        display: inline-block;
    }
    h1 {
        color: white;
    }
}
/* Posts */

#posts {
    li {
        list-style-type: none;
    }
}

#post-page {
    margin-bottom: 1.5em;
    @media (min-width: 940px) {
        margin-bottom: 1.3334em;
    }
}

.post+.post:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
}

.by-line {
    display: block;
    font-family: $serif;
    line-height: 1.5em;
    color: $text-color;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.container ul,
.content ol {
    line-height: 1.5em;
    @media (min-width: 940px) {
        line-height: 1.33334em;
    }
}

.content {
    &:after {
        width: 8em;
        display: block;
        content: '';
        margin: 3em auto 3em auto;
        background: lighten( $text-color, 64);
        height: 1px;
    }
}

footer {
    background: #3DC2E7;
    margin-top: 1.5em;
    padding: 1.5em;
    .container {
        margin: 0 auto;
        padding: 1.5em 0;
    }
    h2,
    {
        font-weight: 300;
        margin-bottom: .25em;
        font-size: 1.25em;
        color: white;
        text-align: left !important;
    }
    p {
        font-family: $sans;
        color: white !important;
        font-weight: 300;
        margin-bottom: 0;
    }
}

#tour-page {
    header {
        text-align: center;
        padding: 1.5em 0 3.5em;
    }
    .tour-intro {
        margin-bottom: 1.5em;
    }
    h1 {
        font-weight: 600;
        line-height: 1.5em;
        padding: 1em 1.5em 0 1.75em;
    }
    h2 {
        font-size: 1.75em;
        padding-top: 0 !important;
    }
}

a.test {
    display: block;
    width: 100%;
    height: 400px;
}

#tour-page {
    h1 {
        text-transform: capitalize;
        padding: .25em 0 .25em;
        font-size: 1.75em;
        // font-weight: normal;
        line-height: 1.25em;
    }
    h2 {
        color: lighten(black, 35);
        font-family: $serif;
        text-transform: capitalize;
        font-size: 1.25em;
    }
}

.tour-intro h4 {
    color: $header;
    font-size: 1.25em;
    font-family: $sans !important;
    font-weight: normal;
    line-height: 2em;
}

.extra-info {
    margin-bottom: 2.25em;
    ul {
        margin-top: .5em;
        li {
            list-style-type: square;
        }
    }
}

/*================================= PRINT BUTTON ====================================*/

.center {
    text-align: center;
    a.print {
        background: darken($nav, 35);
        color: white;
        font-weight: 300;
        display: inline-block;
        padding: .5em .75em;
        border-radius: 2px;
    }
}

.fb-container {
    position: absolute;
    text-align: center;
    width: 26em;
    margin-left: -13em;
    top: 184px;
    left: 50%;
}

.intro-picture {
    height: auto;
    display: block;
    margin: 2.5em 0 4.5em;
    position: relative;
    img {
        filter: none;
        -webkit-filter: none;
        -o-filter: none;
        -moz-filter: none;
        transition: all .15s linear;
        box-shadow: 0 2px 4px 2px rgba(black, .18);
        border: .75em solid #EFEFEF;
        border-radius: 0;
        &:hover {
            transform: rotate(0deg) !important;
        }
    }
    img:nth-child(1) {
        width: 74%;
        position: relative;
        transform: rotate(-2deg);
    }
    img:nth-child(2) {
        width: 64%;
        top: 0;
        position: absolute;
        right: 0;
        transform: rotate(2deg);
    }
}

/*=================================================== BACK ON TOP BUTTON =======================================================*/

.cd-top {
    width: 2.5em;
    height: 2.5em;
    background: rgba(black, .15);
    position: fixed;
    bottom: 3em;
    right: 2em;
    visibility: hidden;
    opacity: 0;
    display: block;
    line-height: 2.5em;
    text-align: center;
    span {
        color: white;
    }
}

.cd-is-visible {
    visibility: visible;
    opacity: 1;
}
/*=================================================== FORM DESIGN =======================================================*/

form {
    margin-top: 2.5em;
    ul {
        margin-bottom: 1.25em;
    }
    ul li {
        width: 100%;
        position: relative;
        display: block;
        margin-bottom: 1.75em !important;
        label {
            font-size: .75em;
            display: inline-block;
             padding: .35em 1.25em;
            pointer-events: none;
            transition: all .25s linear;
            position: absolute;
            top:.8em;
            left:0;
            text-transform: uppercase;
        }
    }
    input,
    textarea {
        padding: 1em .85em;
        width: 100%;
        color: rgba(black, .65);
        font-size: 1em;
        transition: all .15s linear;
        border: 1px solid rgba(black, .15);
        &:focus {
            outline: none;
            border-color: rgba(black, .15);
            box-shadow: 0 0 0 6px rgba(black, .078);
        }
        &._gotcha {
            display: none;
        }
        &.submit {
            border: 0;
            color: white;
            font-weight: bold;
            outline: 0;
            width: 10em;
            padding: 1em 0 .85em;
            font-size: .875em;
            text-transform: uppercase;
            margin: 0 auto;
            text-align: center;
            background: $orange;
            display: block;
            cursor: pointer;
        }
    }
    textarea {
        width: 100%;
        height: 260px;
        min-height: 260px;
    }
    .send-wrapper {
        margin-bottom: 4em;
    }
}

@media (min-width: 940px) {
    .intro-picture {
        img: nth-child(1) {
            left: -12%;
        }
        img:nth-child(2) {
            right: -15%;
        }
    }
    form {
        ul:after {
            clear: both;
            content: "";
            display: table;
        }
        ul li {
            float: left;
            margin: 0 5% 0 0;
            margin-bottom: 2.5em !important;
            width: 47.5%;
            &:nth-child(2), &:nth-child(4) {
                margin-right: 0;
            }
            &.full {
                margin: 0;
                width: 100%;
            }
        }
    }
}


.move-up {
    transition: all .25s linear;
    background:$nav;
    border-radius: .15em;
    padding: .35em 1.25em;
    color:white;
    top:-1.85em;
    font-weight: bold;
}

.message-send {
    margin-top: 3em;
    h3 {
        color: $main-color;
    }
}
/*============================== SUBMENU =============================================*/

.tour-dn {
    display: none;
}

.submenu-container {
    display: none;
    &.open {
        display: block;
    }
    ul li a {
        color: rgba(white, .55);
        &:hover {
            color: white;
        }
    }
}

.primary-link {
    font-size: 1.15em;
}
/*======================================== FOOTER DESIGN ============================================*/


$footer-color: darken( $footer, 32);

footer {
    background: $footer;
    color: #7AADBB;
    .container {
        display: block;
    }
    p,
    p a, h1 {
        color: $footer-color !important;
    }
    p a {
        text-decoration: underline;
    }
    
    h1 {
        margin: .25em 0;
    }

    a.center {
          display: inline;
    }

    h2 {
        font-weight: 300 !important;
        color: $orange !important;
    }
}

.column {
    width: 100%;
}

$social: $orange;

ul.social {
    margin-top: 1.5em;
    li {
        display: inline-block;
        margin-right: 1em;
        a {
            color:  $footer-color;
            font-size: 1.15em;
            transition: color .15s linear;
            position: relative;
            display: inline-block;
            font-weight: 300;
            &:hover {
                  color: $social;
            }
            &:hover  span {
               opacity:1;
               top:-6.5em;
               z-index: 8;
            }
            span {
                position: absolute;
                color:white;
                 transition: all .2s linear;
                z-index: -4;
                opacity:0;
                text-align: center !important;
                font-size: .75em;
                width: 12em;
                line-height: 1.5em;
                border-radius:.25em;
                top:-4.5em;
                left:50%;
                margin-left: -6em;
                padding: .75em .0;
                background:$social;
                display: block;
            }
        }
    }
}

.ptb {
    padding: .75em 0;
    a {
        color: white;
    }
}

@media (min-width: 940px) {
    footer .container {
        display: table;
        .column {
            display: table-cell;
            width: 50%;
            padding-right: 5%;
        }
        .right {
            text-align: right !important;
        }
    }
}
