/*- Typography -*/

body {
    font-family: $sans;
    background: white;
    color:$text-color;
}

// .home h2,
// .home h3,
// .home p {
//     text-align: center;
//     font-weight: normal;
//     text-transform: none;
// }

.home h2 {
    padding: 0;
    line-height: 1.5;
}

.home #container p {
    text-transform: capitalize;
    font-size: 1.25em;
    font-family: $serif-bis;
}

p,
ul li  {
    font-size:1em;
    font-family: $sans;
    color: lighten($header, 50);
    font-weight: normal;
    line-height: 1.7em;
    margin-bottom: 1.5em;

    &.post {
         font-size: 1em !important;
    }
}

.price ul li {
    font-family: $serif;
    font-size: .875em;
}

ul li strong {
    color: $text-color;
    font-weight: normal;
}

#container ul li {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
    font-weight: 400;
    color: lighten($header, 30);
    color: #3C3C3C;
}

h1 {
    font-size: 2.25em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3333em;
    
    padding: 0.33335em 0;
}

h2 {
    font-size: 2em;
    text-transform: capitalize;
    line-height: 1em;
    padding: 1em 0 .25em 0;
    
   
}

h3 {
    font-size: 1.25em;
    color: #3C3C3C;
    line-height: 1.75em;
    padding: 0.66667em 0;
}

h4 {
    font-weight: normal;
    font-size: 1.05em;
    padding: 0.5em 0;
    line-height: 1.5em;
}

h6 {
    font-weight: normal;
    font-size: 1.25em;
}

.tour-intro h4 {
    font-size: 1.5em;
}

@media (min-width: 940px) {
   
   p,
ul li  {
    font-size: .875em;
    font-family: $sans;
    color: lighten($header, 30);
    font-weight: normal;
    line-height: 1.7em;
    margin-bottom: 1.5em;
}

    p,
    .include-exclude ul li {
        line-height: 1.8em;
    }
    .include-exclude ul li {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2.25em;
        line-height: 1em;
        padding: 0.25em 0;
    }
    h2 {
        line-height: 1.5em;
        padding: .75em 0 .25em 0;
        
        a {
            color: lighten(black, 26);
        }
    }
    h3,
    h4,
    h5,
    h6 {
        // font-weight: normal;
        font-size: 1.75em;
        line-height: 1em;
        padding: 0.5em 0;
    }
    
    h2 {
         font-weight:300;
    }

    h3 {
        margin-top: 1.5em;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.35em;

        &:before {
              position: absolute;
              content:'';
              display: block;
              margin: 0 auto;
              width: 8em;
              top:0;
              left:50%;
              height: 1px;
        }
    }
    h4 {
        font-size: 1em;
        line-height: 1.25em;
    }
    .tour-intro h4 {
        line-height: 1.5em;
        font-size: 1.75em;
    }
    h5,
    h6 {
        font-size: 1.25em;
        line-height: 1.25em;
    }
    h6 {
        font-style: italic;
    }
}

/*========================================= SHARE POST BUTTON ==========================================*/
.share-post {
    h5 {
        font-size: .75em;
        font-weight: 600;
        text-transform: uppercase;
    }
    ul {
        margin-top: 1.5em;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 16px 0 0;
            width: 3.25em;
            text-align: center;
            height: 3.25em;
            border-radius:50%;
            background:#E4905F;
            &:last-child {
            	   margin: 0;
            }

            a {
            	  line-height: 2em;
            	  display: block;
                  font-size: 1.75em;
            	  color: white
            }
        }
    }
}
