---
layout: default
title: ไปเที่ยวฟรานซ์บล็อกไปเที่ยวฝรั่งเศส
---

<!-- Posts -->
<ul id="posts">

                {% if page.category %}

                 {% for post in site.categories.[page.category]  %}

	  <li class="post">
	  	<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
	  	<span class="by-line">{{ post.date | date_to_string }}</span>
	  	<p class "inline">{{ post.content | strip_html | truncatewords:50 }}
                                      <a href="{{ site.url}}{{post.url}}" title ="Read More">อ่านต่อ...</a>
	  	</p>
	  </li>

                
              {% endfor %}


             {% else %}
           
           {% for post in site.posts  %}
                 <li class="post">
	  	<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
	  	<span class="by-line">{{ post.date | date_to_string }}</span>
	  	<p  class "inline">{{ post.content | strip_html | truncatewords:50 }}
                                    <a href="{{ site.url}}{{post.url}}" title ="Read More">อ่านต่อ...</a>
	  	</p>
	  </li>
           {% endfor %}
           
           
    {% endif %}

</ul>

