---
layout: default
---
<div id="post-page">
	<h2>{{ page.title }}</h2>		
	<span class="by-line">{{ page.date | date_to_string }}</span>
	<div class="content">

		{{ content }}
                

                
                <div class="share-post center">
	     <h5>share this  article</h5>

	     <ul class="share">
	     	<li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{page.url}}&p[images][0]=&p[title]={{page.title}}" rel="nofollow"  target="popup"   onclick="window.open('https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[images][0]=&p[title]={{page.title}}  ','','width=600,height=400')" title ="Share on Facebook" class ="fa fa-facebook"></a></li>
	     	<li><a href="https://plus.google.com/share?url={{ site.url }}{{page.url}}"   onclick="window.open('https://plus.google.com/share?url={{ site.url }}{{page.url}}  ','','width=600,height=400')" target ="popup" rel="nofollow" title ="Share on Google+" class ="fa fa-google-plus "></a></li>
	     </ul>
	</div>


		
	</div>

	
</div>

