---
layout: default
---

<div id="tour-page">
    <header>
        <h1 {% if page.class %} class="{{ page.class }}" {% endif %}>
	 {{ page.tourName }}
       </h1>
        <h2>{{ page.duration }}</h2>
        {% if page.remark %}
               <h5 class ="notice">
                  {{page.remark}}
              </h5>
          {% endif %}
        {% if page.price %}
           <h3>{{page.price}}</h3>
        {% endif %}
    </header>
    {% if page.img %}
         <div class="intro-picture nop">
             {% for i in page.img  %}
                 <img src="{{i.name}}.jpg" alt="ไปเที่ยวฟรานส์  {{i.alt}}" title="ไปเที่ยวฟรานส์  {{ i.alt}}">
             {% endfor %}
         </div>
    {% endif %}

    {% if  page.intro %}
      <div class="tour-intro">
          <h4>{{ page.intro }}</h4>
     </div>
    {% endif %}


    <div class="content">
        {{ content }}
    </div>

    <div class="center">
        <ul>
           <li><a href="{{site.url}}/assets/Booking_Form.doc" class="print" title="Book the trip">Download our Booking form</a></li>
           <li><a href="mailto:paitiewfrance@gmail.com?subject={{page.title}}" class="print" title="Book the trip">Book the trip</a></li>
           <li><a href="#" onclick="window.print(); return false;" class="print">Print the program</a></li>
        </ul>
    </div>

    {% include info.html %}
