---
layout: default
---

<div id="tour-page">
    <header>
        <h1 {% if page.class %} class="{{ page.class }}" {% endif %}>
	{{ page.tourName }}
       </h1>
        <h2>{{ page.duration }}</h2>
    </header>
    {% if page.img %}
         <div class="intro-picture nop">
             {% for i in page.img  %}
                 <img src="{{i.name}}.jpg" alt="ไปเที่ยวฟรานส์  {{i.alt}}" title="ไปเที่ยวฟรานส์  {{ i.alt}}">
             {% endfor %}
         </div>
    {% endif %}
   
    {% if  page.intro %}
      <div class="tour-intro">
          <h4>{{ page.intro }}</h4>
     </div>    
    {% endif %}
    
    
    <div class="content">
        {{ content }}
    </div>

    <div class="price extra-info">
             <h2>ราคา</h2>
        <ul class ="list">
            {% for price in page.prices %}
                <li>{{ price }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="extra-info">
                <h2>หมายเหตุ</h2>
            <ul class="list">
                <li>ราคานี้ปรับลดลงตามประกาศปรับลดค่าเซอร์ชาร์จนน้ำมันของการบินไทย มีผลบังคับใช้สำหรับการออกตั๋วตั้งแต่วันที่ 1 มีค. 2558 เป็นต้นไป (+) บวกกับการปรับลดค่าทัวร์ลงตามค่าเงินยูโรที่อ่อนค่าลง</li>
                <li>บางโรงแรมเท่าน้ันที่มีห้อง 3 เตียง อาจจะเป็นหนึ่งเตียงใหญ่ และ หนึ่งโซฟาเบด</li>
                <li>ราคาอาจมีปรับขึ้รลงตามราคาน้ำมันตามความเป็นจริงที่สายการบินประกาศปรับและที่มีเอกสารยืนยันเท่าน้ัน ตั๋วเมื่อทำการออกตั๋วแล้วเลื่อนไม่ได้ทุกกรณี </li>
                <li>อาหารเช้าในโรงแรมนอกเมืองฝรั่งเศสไม่มีให้เลือกมากมายเหมือนในตัวเมืองปารีส ท่านสามารถนำอาหารแห้งไปเองได้เช่น ชา หรือ การแฟซองสำเร็จรูป หรือ บะหมี่ถ้วย**ขอความร่วมมืออย่านำบะหมี่ไปทานในห้องอาหารของโรงแรมเพราะกลิ่นของบะหมี่ จะรบกวนแขกต่างชาติท่านอื่น ให้ทานในห้องพักของท่านเอง**</li>
       </ul>
       </div>

       <div class="extra-info">
       <h2>อัตราค่าบริการนี้รวม</h2>
            <ul class="list">
                <li>
                    ค่าตั๋วเครื่องบินไป-กลับชั้นประหยัด **ท่านต้องชำระค่าทำเนียมส่วนเกินเองหากท่านต้องการอัพเกรดที่นั่งผู้โดยสาร**  
                </li>
                <li>ค่าโรงแรมที่พัก</li>
                <li>ค่ารถ-รับส่งและนำเที่ยวตามรายการ</li>
                <li>ค่าอาหาร</li>
            </ul>
    </div>

      <div class="extra-info">
            <h2>อัตราค่าบริการไม่รวม</h2>
        <ul>
                <li>ค่าใช้จ่ายส่วนตัว อาทิ ค่าซักรีด, ค่าเครื่องดื่มพิเศษ , ค่าภาษีมูลค่าเพิ่ม</li>
                <li>ค่าสัมภารที่น้ำหนักเกิน30 กก. (การบินไทยให้เป็นกรณีพิเศษจากเดิม 20 กก. เท่านั้น แต่หากการบินไทยมีการปรับลดลงราคาก็ จะปรับตามประกาศของการบินไทย)</li>
                <li>ค่าใช้จ่ายอันเกิดจากการทำหนังสือเดินทางหายทุกกรณี</li>
            </ul>
    </div>

    <div class="extra-info">
        <h2>การจองและชำระเงิน </h2>
        <ul class ="list">
            <li>กรุณาชำระมัดจำท่านละ 30,000 บาท ภายใน 3 วัน จากวันจองและชำระส่วนที่เหลือก่อนเดินทาง 7 วัน</li>
            <li>กรุณาจัดเตรียมเอกสารและหนังสือเดินทางก่อนการเดินทางอย่างน้อย 30 วัน</li>
        </ul>
    </div>
  

    <div class ="extra-info">
            <h2>หมายเหตุ </h2>
            <ul class="list">
                <li>ขอสงวนสิทธิ์ไม่รับผิดชอบกรณีที่เกิดเหตุสุดวิสัย อาทิการยกเลิกหรือล่าช้าของสายการบิน การนัดหยุดงาน การประท้วงจลาจล ภัยธรรมชาติทุกชนิด อาทิ แผ่นดินไหว, ฝนตกหนัก, น้ำท่วม, ภูเขาไฟระเบิด ฯลฯ</li>
                <li>ขอสงวนสิทธิ์ในการเปลี่ยนแปลงรายการท่องเที่ยวกรณีเกิดเหตุจำเป็นสุดวิสัยตามที่กล่าวไว้ในข้อที่1  ทั้งนี้จะรักษาผลประโยชน์ ของท่านไว้ให้ได้มากที่สุด</li>
                <li> ราคาอาจมีการปรับขึ้น หากมีการปรับราคาของสายการบินตามราคาน้ำมันที่ขึ้นโดยมีเอกสารยืนยันจากสายการบิน</li>
                <li>ในกรณีที่ท่านจะใช้หนังสือเดินทางราชการ (เล่มสีน้ำเงิน) เดินทางสงวนสิทธิ์ที่จะไม่รับผิดชอบหากท่านถูกปฏิเสธการเข้า หรือ ออกนอกประเทศ เพราะโดยปกติเราใช้หนังสือเดินทางบุคคลธรรมดาเล่มสีเลือดหม</li>
                <li>ใน 1 วัน คนขับรถจะทำงานและพักผ่อนระหว่างขับรถรวมแล้วไม่เกิน 12 ชม. เช่น เริ่มงาน 08.00 น. ต้องจบงานภายใน 20.00 น. หากมีการเสียเวลาระหว่างวัน โปรแกรมอาจต้องแก้ไขปรับเปลี่ยน</li>
                <li>เมื่อท่านจองทัวร์และชำระค่ามัดจำแล้วหมายถึงท่านยอมรับในเงื่อนไขที่เรากำหนดไว้ข้างต้นแล้ว</li>
            </ul>
    </div>
</div>


<div class="center">
    <a href="#" onclick="window.print(); return false;" class="print">Print the program</a>
</div>
